// Colors

$bg-blue: #2c36f2;
$bg-light-grey: #f6f7ff;
$bg-white: #ffffff;

$font-black: #1f1e25;
$font-blackest: #000000;
$font-grey: #707c87;
$font-light-grey: #e0e1ea;

$decor-grey: #c1c2ca;

// Fonts

$font-family: "Roboto", "Arial", sans-serif;
$font-family-logo: "Worksans";

$fs-base: 16px;
$lh-base: 19px;

$fs-logo: 20px;
$lh-logo: 23px;
