.banner {
  background-color: $bg-blue;
  width: 100%;
}

.banner__container {
  position: relative;
  min-height: 400px;
  margin: auto;
  padding-right: 574px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__title {
  color: $font-white;
  font-size: 54px;
  line-height: 63px;
  margin-top: 0;
  margin-bottom: 10px;
}

.banner__text {
  color: $font-light-grey;
  font-size: 22px;
  line-height: 26px;

  margin-top: 0;
  margin-bottom: 32px;
}

.banner__img {
  position: absolute;
}

.banner__img--black {
  left: 50%;
  transform: translate(15px);
  top: 120px;
}

.banner__img--white {
  left: 50%;
  transform: translate(124px);
  top: 61px;
}
