.converter {
  width: $desktop-width;
  margin: auto;
  padding-left: 98px;
  padding-right: 98px;
  padding-top: 46px;

  margin-bottom: 82px;
}

.converter__title {
  font-size: 41px;
  line-height: 57px;
  font-weight: bold;

  margin: 0;
  margin-bottom: 50px;
}

.converter__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 120px;
  align-items: center;

  grid-template-areas:
    "current conversed"
    "calendar button";
}

.converter__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 85px;
}

.converter__wrapper--current {
  grid-area: current;
}

.converter__wrapper--conversed {
  grid-area: conversed;
  justify-self: end;
}
