.header {
  background-color: $bg-white;
  width: $desktop-width;
  margin: auto;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 14px;
  padding-bottom: 18px;
}

.header__link {
  color: $font-black;
  display: flex;
  align-items: baseline;
  margin-right: 16px;

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 22px;
    background-image: url("../../img/icons/enter-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

