.history {
  width: $desktop-width;
  margin: auto;
  background-color: $bg-light-grey;
  border-radius: 0 4px 4px 4px;

  padding-left: 70px;
  padding-top: 40px;
}

.history__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 39px;

    margin: 0;
}
