.history {
  width: $desktop-width;
  margin: auto;

  padding-left: 98px;
  padding-right: 98px;
  margin-bottom: 110px;
}

.history__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 39px;

  margin: 0;
  margin-bottom: 18px;
}

.history__wrapper {
  background-color: $bg-light-grey;
  border-radius: 0 4px 4px 4px;

  padding-top: 44px;
  padding-left: 69px;
  padding-bottom: 40px;
}
