.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  padding-left: 0;
  margin-right: 83px;
}

.nav__item:not(:last-child) {
  margin-right: 25px;
}

.nav__link {
  color: $font-black;
}

.nav__item--active {
  .nav__link {
    color: $font-blue;
  }
}
