.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.nav__item:not(:last-child) {
  margin-right: 25px;
}

.nav__link {
  color: $font-black;
}
